*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: rgb(28,17,95)
}

.weather-dashboard{
    display: flex;
}

.left-dashboard{
    flex: 0.1;
    background: linear-gradient(to top right, rgba(42,28,90,0.9), rgba(28,17,95,1)) ;
    height: 100vh;
    padding: 10px;
}

.right-dashboard{
    flex: 2;
    background: linear-gradient(to bottom left, rgb(149,67,210), rgb(233,18,172), rgb(249,157,60));
}

.dash-logo i, .dash-logo h3{
    color: white;
}

.dash a{
    color: white;
    display: block;
    padding: 15px;
}

.header{
    display: flex;
    align-items: center;
    border: 1.5px solid  rgb(28,17,95);
    max-width: 350px;
    display: block;
    padding: 10px 4px 10px 40px;
    border-radius: 20px;
    margin: 15px auto;
}

.header-border{
    border-bottom: 1px solid rgb(28,17,95);
}
.header i{
    margin-right: 10px;
}

input.search{
    border: none;
    outline: none;
    width: 80%;
    cursor: pointer;
    background: transparent;
}

.search::placeholder{
    color: black;
}

.weather-properties{
    display: grid;
    grid-template-columns: auto auto auto;
}
